<h1 style="color:blue;">{{ 'Zakaria' | author }}</h1>
<h1 style="color: red;">Le résultat après application du pipe exponentiel est : {{ 2 | exponentiel: 3 }}</h1>
<h1 style="color: blueviolet;">Le nombre après l'application du pipe décimal est {{ 12.3 | number: '2.3-5' }}</h1>
<h1 style="color:coral;">L'application du pipe uppercase donne {{ 'hello world!' | uppercase }} </h1>
<h1 style="color:chartreuse; ">La date de naissance après l'application du pipe date et uppercase donne : {{ birthday | date: 'mediumDate' | uppercase }}</h1>
<h4 style="background-color:gray;">L'application du pipe date avec différents paramètres donne : 
    <h2>{{ d | date }} </h2> 
    <h2>{{ d | date: 'mediumDate' }} </h2>
    <h2>{{ d | date: 'medium' }} </h2> 
    <h2>{{ d | date: 'shortTime' }} </h2> 
    <h2>{{ d | date: 'mm:ss' }} </h2>
</h4>
<p style="background-color: brown;">La somme en dollar américain est : {{ somme | currency }}<br/>
La somme en dollar canadien est : {{ somme | currency: 'CAD' }}</p>
<p style="background: darkkhaki;">L'application du pipe pourcent donne : {{ 500 | percent }}<br/> 
B avec 4.3-5 : {{ b | percent: '4.3-5' }}</p>
<div style="background-color:aquamarine"> 
    <p>e (french) : {{ e | number: '4.2-4' }}</p> 
    <p>e (no formatting) : {{ e | number }}</p>
    <p>e (3.1-5) : {{ e | number: '3.1-5' }}</p>
    <p>e (4.5-5) : {{ e | number: '4.5-5' }}</p>
</div>
